#formularios {
    margin: 0px auto;
    border: 1px solid #000;
    height: 10%;
    width: 20%;
    text-align: center;
    margin-top: 150px;
}

#publicacao {
    margin: 0px auto;
    border: 1px solid #000;
    height: 70%;
    width: 90%;
    text-align: left;
    margin-top: 150px;
}

#campos {
    width: 100%;
}

.alertEmail {
    padding: 20px;
    background-color: #040c5a;
    color: white;
    margin-bottom: 6px;
}

.alertUsuario {
    padding: 20px;
    background-color: #e7f436;
    color: white;
    margin-bottom: 6px;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 6px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

#lista {
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

#botao {
    margin-bottom: 6px;
    margin-top: 6px;
}

#comentario {
    margin: 0px auto;
    border: 1px solid #000;
    height: 70%;
    width: 90%;
    text-align: left;
    margin-top: 20px;
}

#botaoSair {
    margin-left: 3px;
}